<div class="profile">
  <div class="container">
    <div class="container__name">
      <app-title>Hola William</app-title>
    </div>

    <div class="container__search">
      <i class="material-icons">search</i>
      <input type="text" placeholder="Buscar" />
    </div>

    <div class="container__options">
      <a [routerLink]="['../edit-profile']">
        <app-card-button title="Editar perfil" icon="edit"></app-card-button>
      </a>
      <app-card-button title="Mis mascotas" icon="pets"></app-card-button>
    </div>

    <app-card-options title="Cuenta" [items]="options()"></app-card-options>
  </div>
</div>
