<div class="profile">
  <app-title>Hola William</app-title>

  <div class="profile__search">
    <i class="material-icons">search</i>
    <input type="text" placeholder="Buscar"/>
  </div>

  <div class="profile__options">
    <a [routerLink]="['../edit-profile']">
      <app-button-card title="Editar perfil" icon="edit"></app-button-card>
    </a>
    <app-button-card title="Mis mascotas" icon="pets"></app-button-card>
  </div>

  <app-options-card title="Cuenta" [items]="options()"></app-options-card>
</div>
