.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .sign-up {
    display: flex;
    flex-direction: column;
    gap: 55px;
    max-width: 600px;
    width: 100%;
    background-color: rgb(102, 102, 102);
    padding: 40px;
    border-radius: 10px;

    &__form {
      display: flex;
      flex-direction: column;
      gap: 30px;

      &--contain {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
      }

      &--button {
        display: flex;
        justify-content: center;

      }
    }
  }
}
