<div class="container">

  <div class="new-pet">
    <app-title style="text-align: center;">Nueva mascota</app-title>
    <form class="form" [formGroup]="loginForm">

      <div class="form__row">
        <div style="width: 50%; position: relative;">
          <p class="label">Nombre:</p>
          <app-input type="text" placeholder="Peluche" formControlName="name"></app-input>
          @if (loginForm.get('name')?.invalid && loginForm.get('name')?.touched) {
            <div style="margin-top: 5px; padding-left: 10px;">
              @if (loginForm.get('name')?.errors?.['required']) {
                <small>El nombre es requerido</small>
              }
              @if (loginForm.get('name')?.errors?.['onlyLetters']) {
                <small>El nombre solo puede contener letras</small>
              }
            </div>
          }
        </div>
        <div style="width: 50%;">
          <p class="label">Apellido:</p>
          <app-input type="text" placeholder="Cáceres" formControlName="lastName"></app-input>
          @if (loginForm.get('lastName')?.invalid && loginForm.get('lastName')?.touched) {
            <div style="margin-top: 5px; padding-left: 10px;">
              @if (loginForm.get('lastName')?.errors?.['required']) {
                <small>El apellido es requerido</small>
              }
              @if (loginForm.get('lastName')?.errors?.['onlyLetters']) {
                <small>El apellido solo puede contener letras</small>
              }
            </div>
          }
        </div>
      </div>

      <div class="form__row">
        <div>
          <p class="label">Especie:</p>
          <div class="select">
            <button class="button" (click)="toggleMenuSpecie()">
              {{specieSelected() || 'Seleccionar'}}
              <i class="material-icons">keyboard_arrow_down</i>
            </button>

            @if (specieMenu()) {
            <div class="options">
              <ul>
                @for (item of species(); track $index) {
                <li>
                  <button (click)="selectSpecie(item.specie, item.id)">
                    {{item.specie}}
                  </button>
                </li>
                }
              </ul>
            </div>
            }
          </div>
          @if (loginForm.get('specieId')?.invalid && loginForm.get('specieId')?.touched) {
            <div style="margin-top: 5px; padding-left: 10px;">
              <small style="color: rgb(228, 61, 61); font-size: 14px; font-weight: 500;">Debe seleccionar una especie</small>
            </div>
          }
        </div>
        <div>
          <p class="label">Raza:</p>
          <div class="select">
            <button class="button" (click)="toggleMenuRace()" [disabled]="!specieSelected()">
              {{raceSelected() || 'Seleccionar'}}
              <i class="material-icons">keyboard_arrow_down</i>
            </button>

            @if (raceMenu() && specieSelected()) {
            <div class="options">
              <ul>
                @for (item of races(); track $index) {
                <li>
                  <button (click)="selectRace(item.race, item.id)">
                    {{item.race}}
                  </button>
                </li>
                }
              </ul>
            </div>
            }
          </div>
          @if (loginForm.get('raceId')?.invalid && loginForm.get('raceId')?.touched) {
            <div style="margin-top: 5px; padding-left: 10px;">
              <small style="color: rgb(228, 61, 61); font-size: 14px; font-weight: 500;">Debe seleccionar una raza</small>
            </div>
          }
        </div>
        <div>
          <p class="label">Edad:</p>
          <app-input type="text" placeholder="Meses" formControlName="age" style="width: 50px;"></app-input>
          @if (loginForm.get('age')?.invalid && loginForm.get('age')?.touched) {
            <div style="margin-top: 5px; padding-left: 10px;">
              @if (loginForm.get('age')?.hasError('onlyNumbers')) {
                <small>La edad es en números</small>
              }
              @if (loginForm.get('age')?.hasError('required')) {
                <small>Edad requerida</small>
              }
            </div>
          }
        </div>
      </div>

        <div class="form__row" style="margin-top: 10px;">
          <mat-radio-group style="display: flex;" formControlName="genderId">
            <mat-radio-button value="1" style="width: 150px;">Macho</mat-radio-button>
            <mat-radio-button value="2" style="width: 150px;">Hembra</mat-radio-button>
          </mat-radio-group>
        </div>
        @if (loginForm.get('genderId')?.invalid && loginForm.get('genderId')?.touched) {
        <div style="margin-top: -15px; padding-left: 10px;">
          @if (loginForm.get('genderId')?.hasError('required')) {
            <small style="color: rgb(228, 61, 61); font-size: 14px; font-weight: 500;">Escoge un género</small>
          }
        </div>
      }

      <mat-checkbox formControlName="sterilizedStatus" class="example-margin">Esterilizado</mat-checkbox>
      <mat-checkbox formControlName="handicappedStatus" class="example-margin">Discapacidad</mat-checkbox>
      <mat-checkbox formControlName="lostStatus" class="example-margin">Perdido</mat-checkbox>
      <div class="form__row" style="margin-bottom: 30px;">
        <div style="width: 100%;">
          <p class="label">Descripción:</p>
          <app-input type="text" placeholder="Descripción" formControlName="description"></app-input>
        </div>
      </div>
      <!-- <div class="form__row" style="margin-bottom: 30px;">
        <div style="width: 100%;">
          <p class="label">imagen:</p>
          <app-input type="text" placeholder="Imagen" formControlName="image"></app-input>
        </div>
      </div> -->
      <app-button class="form__button" [contrastColor]="true" width="100%" (click)="onSubmit()">
        Agregar mascota
      </app-button>
    </form>
  </div>
</div>
