<div class="container">

  <div class="new-pet">
    <app-title style="text-align: center;">Nueva mascota</app-title>
    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="form__row">
        <div style="width: 50%;">
          <p class="label">Nombre:</p>
          <app-input type="text" placeholder="Peluche" formControlName="name"></app-input>
        </div>
        <div style="width: 50%;">
          <p class="label">Apellido:</p>
          <app-input type="text" placeholder="Cáceres" formControlName="lastName"></app-input>
        </div>
      </div>

      <div class="form__row">
        <div >
          <p class="label">Especie:</p>
          <div class="select">
            <button class="button" (click)="toggleMenuSpecie()">
              {{specieSelected() || 'Seleccionar'}}
              <i class="material-icons">keyboard_arrow_down</i>
            </button>

            @if (specieMenu()) {
            <div class="options">
              <ul>
                @for (item of test; track $index) {
                <li>
                  <button (click)="selectSpecie(item.specie)">
                    {{item.specie}}
                  </button>
                </li>
                }
              </ul>
            </div>
            }
          </div>
        </div>
        <div>
          <p class="label">Raza:</p>
          <div class="select">
            <button class="button" (click)="toggleMenuRace()">
              {{raceSelected() || 'Seleccionar'}}
              <i class="material-icons">keyboard_arrow_down</i>
            </button>

            @if (raceMenu()) {
            <div class="options">
              <ul>
                @for (item of test; track $index) {
                <li>
                  <button (click)="selectRace(item.specie)">
                    {{item.specie}}
                  </button>
                </li>
                }
              </ul>
            </div>
            }
          </div>
        </div>
        <div>
          <p class="label">Edad:</p>
          <app-input type="text" placeholder="Meses" formControlName="age" style="width: 50px;"></app-input>
        </div>
      </div>

      <div class="form__row" style="margin-top: 10px;">
        <mat-radio-group style="display: flex;">
          <mat-radio-button value="1" style="width: 150px;">Macho</mat-radio-button>
          <mat-radio-button value="2" style="width: 150px;">Hembra</mat-radio-button>
        </mat-radio-group>
      </div>
        <mat-checkbox class="example-margin">Esterilizado</mat-checkbox>
      <mat-checkbox class="example-margin">Discapacidad</mat-checkbox>
      <div class="form__row">
        <div style="width: 100%;">
          <p class="label">Descripción:</p>
          <app-input type="text" placeholder="Descripción" formControlName="description"></app-input>
        </div>
      </div>
      <div class="form__row" style="margin-bottom: 30px;">
        <div style="width: 100%;">
          <p class="label">imagen:</p>
          <app-input type="text" placeholder="Imagen" formControlName="image"></app-input>
        </div>
      </div>
        <app-button class="form__button" [contrastColor]="true" width="100%">
        Agregar mascota
      </app-button>
    </form>
  </div>
</div>
