.icon-button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #656565;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  &:hover {
    color: #282828;
  }

  i {
    font-size: 18px;
    width: 20px;
    color: white;
  }
}
