<div class="container">
  <section class="edit">
    <app-button icon="arrow_back_ios_new" routerLink="../" padding="25px 20px"></app-button>
    <app-title>Editar perfil</app-title>
    <form class="edit__form">
      <app-input type="text" placeholder="Nombre" icon="person"></app-input>
      <app-input type="text" placeholder="Apellido" icon="person"></app-input>
      <app-input type="email" placeholder="Correo Electrónico" icon="alternate_email"></app-input>
    </form>
    <app-button>Guardar</app-button>
  </section>
</div>
