.container {
  max-width: 700px;
  margin-inline: auto;

  .edit {
    display: flex;
    flex-direction: column;
    gap: 25px;

    &__form {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}
