.card {
  display: grid;
  grid-template-columns: 100px 1fr 110px;
  align-items: center;
  background-color: #656565;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10px;

  & > p {
    color: white;
    font-weight: 700;
  }

  &:hover {
    background-color: #3b3b3b;

    & > p {

    }
  }
}
