.card {
  display: grid;
  width: 100%;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  background-color: #656565;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 15px;
  gap: 10px;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;

  & > img {
    border-radius: 10px;
  }

  & > p {
    color: white;
    font-size: 18px;
    font-weight: 700;
  }

  &:hover {
    background-color: #3b3b3b;
  }
}
