.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  height: 40px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border: none;
  gap: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
  background-color: #666666;

  &:hover {
    background-color: #3b3b3b;
  }

  i {
    font-size: 18px;
    width: 20px;
  }

  p {
    font-size: 18px;
  }
}

.contrast {
  background-color: #3b3b3b;

  &:hover {
    background-color: #121212;
  }
}
