.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;

  .sign-in {
    display: flex;
    flex-direction: column;
    gap: 55px;
    max-width: 350px;
    width: 100%;
    background-color: rgb(102, 102, 102);
    padding: 80px 130px;
    border-radius: 10px;

    &__form {
      display: flex;
      flex-direction: column;
      gap: 30px;
      transition: 0.8s;

      small {
        color: rgb(228, 61, 61);
        font-size: 14px;
        font-weight: 500;
        margin-top: -50px;
      }

      &--button {
        display: flex;
        justify-content: center;
      }
    }

    & a {
      color: inherit;
      font-weight: 600;
      &:hover {
        color: rgb(0, 0, 0);
      }
    }
  }
}
