<div class="container">
  <div class="sign-in">
    <app-title style="text-align: center;">Inicia sesión en PetId</app-title>
    <form class="sign-in__form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <app-input type="email" icon="alternate_email" placeholder="Email" formControlName="email"></app-input>
        @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
          <div style="margin-top: 5px; padding-left: 10px;">
            @if (loginForm.get('email')?.errors?.['required']) {
              <small>El Correo es requerido</small>
            }
          </div>
        }
      </div>
      <div>
        <app-input type="password" icon="lock" placeholder="Contraseña" formControlName="password"></app-input>
        @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
          <div style="margin-top: 5px; padding-left: 10px;">
            @if (loginForm.get('password')?.errors?.['required']) {
              <small>La contraseña es requerida</small>
            }
          </div>
        }
      </div>
      <app-button class="sign-in__form--button" [contrastColor]="true" width="100%">
          Iniciar sesión
      </app-button>
    </form>
    <app-p style="font-size: 16px; text-align: center;">¿No tienes cuenta? <a [routerLink]="['/auth/sign-up']"> Registrate en PetId</a></app-p>
  </div>
</div>
