.account {
  background-color: #121212;
  height: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    height: 100px;
    background: #121212;

    &--logo {
      display: flex;
      align-items: center;
      gap: 15px;

      & > p {
        font-size: 34px;
        font-weight: 900;
        color: white;
        position: relative;
      }
    }

    &--profile {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      position: relative;

      & .dropdown {
        display: flex;
        align-items: center;
        color: white;
      }

      & .options {
        width: 170px;
        background-color: white;
        position: absolute;
        top: 40px;
        right: 0;
        border-radius: 10px;
        cursor: auto;

        & > ul {
          display: flex;
          flex-direction: column;
          list-style: none;
          margin: 0;
          padding: 10px 10px;

          & > li {
            display: flex;

            & > button {
              width: 100%;
              padding: 10px 10px;
              background-color: transparent;
              border: none;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 5px;
              font-size: 15px;
              font-weight: 500;
              border-radius: 5px;
              cursor: pointer;
              transition: 0.3s;

            &:hover {
              background-color: rgb(207, 207, 207);
            }

            & > i {
              font-size: 15px;

            }
            }
          }
        }

      }
    }
  }

  &__container {
    margin-top: 35px;
    padding-inline: 30px;
  }
}


