<div class="main-container">
  <div class="header">
    <div class="header__img">
      <img src="doge.svg" alt="">
    </div>
    <div class="header__menu">
      <ul>
        <li>Blog</li>
        <li>Anuncios</li>
        <li>Adopción</li>
      </ul>
    </div>
    <div class="header__profile">
      <a href="">
        <i class="material-icons avatar">pets</i>
      </a>
      <span>Perfil</span>
      <i class="material-icons avatar">keyboard_arrow_down</i>
    </div>
  </div>
  <router-outlet></router-outlet>
  <div class="footer">

  </div>
</div>
