:host {
  * {
    box-sizing: border-box;
  }

  .main-container {
    width: 100%;
    background-color: #FAFAFA;

    .header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 40px;
      align-items: center;
      height: 80px;
      background: linear-gradient(to right, #D2E5E0, #C8EBEF);

      &__img {
        width: 120px;
        height: 35px;

        & > img {
          width: 35px;
        }
      }

      &__menu {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 450px;
        height: 35px;

        & > ul {
          list-style: none;
          display: flex;
          gap: 20px;

          & > li {
            cursor: pointer;
          }

        }
      }

      &__profile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 120px;
        height: 35px;
        cursor: pointer;

        .avatar {
          font-size: 30px;
        }
      }

    }

    .footer {
      bottom: 0;
      width: 100%;
      height: 150px;
      background: linear-gradient(to right, #FFD8E0, #F9ECEF);
    }

  }
}
