<div class="account">
  <div class="account__header">
    <div class="account__header--logo">
      <img ngSrc="images/doge.svg" alt="" width="55" height="55">
      <p>PetID</p>
    </div>
    <button class="account__header--profile" (click)="toggleMenu()">
      <div class="dropdown">
        <i class="material-icons">manage_accounts</i>
        <i class="material-icons">keyboard_arrow_down</i>
      </div>
      @if (profileIsActivated()) {
      <div class="options">
        <ul>
          <li>
            <button>
              <i class="material-icons">person</i>
              Cuenta
            </button>
            </li>
          <li>
            <button (click)="logOut()">
              <i class="material-icons">settings</i>
              Cerrar sesión
            </button>
          </li>
        </ul>
      </div>
      }
    </button>
  </div>
  <section class="account__container">
    <router-outlet></router-outlet>
  </section>
</div>
