.main-container {
  background-color: #bbcdce;
  height: 100%;

  .header {
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    align-items: center;
    height: 100px;
    background: linear-gradient(to right, #D2E5E0, #C8EBEF);

    &__logo {
      display: flex;
      align-items: center;
      gap: 15px;

      & > p {
        font-size: 34px;
        font-weight: 900;
        color: #45474F;
        position: relative;
      }
    }

    &__profile {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      position: relative;

      & .dropdown {
        display: flex;
        align-items: center;

        &__avatar {
          font-size: 30px;
          color: #424242;
        }

        & > div {
          display: flex;
          gap: 2px;
          align-items: center;

          & .icon {
            margin-top: 2px;
          }
        }
      }

      & .options {
        width: 170px;
        background-color: #D2E5E0;
        position: absolute;
        top: 40px;
        right: 0;
        border-radius: 10px;

        & > ul {
          display: flex;
          flex-direction: column;
          gap: 10px;
          list-style: none;
          margin: 0;
          padding: 10px 20px;

          & > li {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 5px;
            font-size: 15px;
            font-weight: 500;

            &:hover {
              background-color: #b3c2be;
            }

            & > i {
              font-size: 15px;
            }
          }
        }

      }
    }

  }
}


