<div class="main-container">
  <div class="header">
    <div class="header__logo">
      <img src="doge.svg" alt="">
      <span>PetID</span>
    </div>
    <button class="header__profile" (click)="profileActived()" >
      <div class="dropdown">
        <i class="material-icons dropdown__avatar">pets</i>
        <div>
          @if (profileIsActived()) {
            <i class="material-icons icon">keyboard_arrow_down</i>
          }
          @else {
            <i class="material-icons icon">keyboard_arrow_right</i>
          }
        </div>
      </div>
      @if (profileIsActived()) {
        <div class="options">
          <ul>
            <li>Cerrar sesión</li>
          </ul>
        </div>
      }
    </button>
  </div>
  <router-outlet></router-outlet>
  <div class="footer">
  </div>
</div>
