<div class="header">
  <div class="header__logo">
    <img ngSrc="images/doge.svg" alt="" width="55" height="55" priority>
    <p>PetID</p>
  </div>
  <ul style="display: flex; gap: 50px;">
    <li class="header__login">
      <p>Home</p>
      <i class="material-icons">home</i>
    </li>
    <li class="header__login" [routerLink]="['../auth/sign-up']">
      <p>Register</p>
      <i class="material-icons">person</i>
    </li>
    <li class="header__login" [routerLink]="['../auth/sign-in']">
      <p>Login</p>
      <i class="material-icons">login</i>
    </li>
  </ul>
</div>

<div class="footer">

</div>
