:host {
  $primary-color-bold: #bbcdce;
  $primary-color: #d7ebec;
  $secondary-color: #c8ebef;
  display: flex;
  width: 340px;
  height: 115px;
  background-color: $primary-color;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  transition: background-color 0.5s, transform 0.2s;
  cursor: pointer;

  &:hover {
    background-color: $secondary-color;
    transform: scale(1.05);
  }

  & > i {
    font-size: 32px;
    color: #92949f;
  }

  & > span {
    color: #92949f;
    font-weight: 900;
  }


}
