.container {
  max-width: 700px;
  margin-inline: auto;

  .adoptions {
    display: flex;
    flex-direction: column;
    gap: 25px;

    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
  }
}
