<div class="home">
  <div class="container">
    <div class="container__search">
      <i class="material-icons">search</i>
      <input type="text" placeholder="Buscar cosas aqui" />
    </div>
    <div class="container__name">
      <span>Tu plan</span>
      <h1>Hola William</h1>
      <p>Tu próxima factura será de ... y llegará el ...</p>
      <p>Tarjeta Visa que termina en 3167</p>
      <div class="avatars"></div>
    </div>
    <div class="container__card">
      <div class="button">
        <i class="material-icons">edit</i>
        <span>Editar perfil</span>
      </div>
      <div class="button">
        <i class="material-icons">pets</i>
        <span>Ver mascotas</span>
      </div>
    </div>
    <div class="container__config">
      <h2>Cuenta</h2>
      <ul>
        <li>
          <div class="left">
            <div>
              <i class="material-icons">pets</i>
            </div>
            <span>Mis mascotas</span>
          </div>
          <div class="right">
            <i class="material-icons">arrow_forward_ios</i>
          </div>
        </li>
        <li>
          <div class="left">
            <div>
              <i class="material-icons">pets</i>
            </div>
            <span>Anuncios</span>
          </div>
          <div class="right">
            <i class="material-icons">arrow_forward_ios</i>
          </div>
        </li>
        <li>
          <div class="left">
            <div>
              <i class="material-icons">pets</i>
            </div>
            <span>Adopción</span>
          </div>
          <div class="right">
            <i class="material-icons">arrow_forward_ios</i>
          </div>
        </li>
        <li>
          <div class="left">
            <div>
              <i class="material-icons">pets</i>
            </div>
            <span>Eliminar cuenta</span>
          </div>
          <div class="right">
            <i class="material-icons">arrow_forward_ios</i>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
