<div class="home">
  <div class="container">
    <div class="container__name">
      <app-title>William</app-title>
    </div>
    <div class="container__search">
      <i class="material-icons">search</i>
      <input type="text" placeholder="Buscar cosas aqui" />
    </div>
    <div class="container__card">
      <app-card-button [icon]="'edit'">
        <span>Editar perfil</span>
      </app-card-button>
      <app-card-button [icon]="'pets'">
        <span>Ver mascotas</span>
      </app-card-button>
    </div>
    <div class="container__config">
      <app-card-options [items]="list()">
        <span>Cuenta</span>
      </app-card-options>
    </div>
  </div>
</div>
