:host {
  $primary-color-bold: #bbcdce;
  $primary-color: #d7ebec;
  $secondary-color: #c8ebef;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;

  & > span {
    display: block;
    color: #45474F;
    font-size: 30px;
    font-weight: 700;
    margin-left: 25px;
    margin-bottom: 10px;
    position: relative;
  }

  & > ul {
    list-style: none;
    margin: 0;
    padding: 0;

    & > li {
      display: flex;
      width: 660px;
      height: 45px;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
      padding: 0 20px;
      transition: background-color 0.3s;
      cursor: pointer;

      &:hover {
        background-color: $secondary-color;

        .left {
          & > div {
            background-color: #d9f6f8;
          }
        }
      }

      .left {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        & > div {
          width: 35px;
          height: 35px;
          background-color: $secondary-color;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;

          & > i {
            font-size: 24px;
            color: #91949e;
          }
        }
      }

      .right {
        display: flex;
        justify-content: center;
        align-items: center;

        & > i {
          color: #91949e;
        }
      }
    }
  }
}
