.container {
  max-width: 700px;
  margin-inline: auto;

  .detail {
    margin-top: 30px;
    padding: 40px 70px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: rgb(119, 119, 119);
    border-radius: 20px;

    &__img {
      display: flex;
      justify-content: center;
    }

    &__text {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }


}
